# Prerequisites
*.d
*.db

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pdb
*.ilk

#VS Files
*.sln
*.vcxproj
*.filters
*.user

/ipch
/debug
/release
/.vs
/x64
/MyGAIM/x64
/MyGAIM/debug
/MyGAIM/release
*.avi
